@using CorTabernaclChoir.Extensions
@model CorTabernaclChoir.Common.ViewModels.AdminViewModel

<div class="row">
    <div class="col-xs-12">
        <p>While logged in as an Administrator you should see Edit buttons on each page of the site. Click these to edit the content of each page.</p>
    </div>
</div>

<hr />

<div class="row">
    
    <div class="col-md-6">
        
        <p>Contact email addresses are currently forwarded to the following addresses:</p>
        
        <ul class="list-unstyled">
            @foreach (var item in Model.ContactEmailAddresses)
            {
                <li class="spaced">
                   @Html.Partial("_RemoveEmailAddress", item)
                </li>
            }
            <li>
                @Html.Partial("_InsertEmailAddress", Model.NewContactEmailAddress)
            </li>
        </ul>

    </div>
    
</div>