<div class="row">
    <div class="col-xs-12">
        <p>While logged in as an Administrator you should see Edit buttons on each page of the site. Click these to edit the content of each page.</p>
    </div>
</div>