@model CorTabernaclChoir.Common.ViewModels.PostsViewModel
@using CorTabernaclChoir.Extensions

<div class="row">
    <div class="col-xs-12">
        @Html.DisplayAddButton(Url.Action("Add", "News"))
    </div>
</div>

<br />

@Html.Partial("_Posts", Model)