@model CorTabernaclChoir.Common.Models.Post
@using CorTabernaclChoir.Helpers

<div>
    <h4>Are you sure you want to delete this post?</h4>

    @Html.Partial("_DeletePost", Model)

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.DisplayDeleteConfirmButton()
            @Html.DisplayCancelButton(Url.Action("Index", "Visits"))
        </div>
    }
</div>
