@model CorTabernaclChoir.Common.ViewModels.EventsViewModel
@using CorTabernaclChoir.Extensions

<div class="row">
    <div class="col-xs-12">
        @Html.DisplayAddButton(Url.Action("Add", "Events"))
    </div>
</div>

<h4>Upcoming Events</h4>

@foreach (var item in Model.Upcoming)
{
    @Html.Partial("_Item", item)
}       

<h4>Past Events</h4>

<div class="panel panel-default">
    <table class="table table-striped table-condensed">
        @foreach (var item in Model.Past)
        {
            <tr>
                <td style="width: 10em;">@Html.DisplayDateFor(m => item.Date)</td>
                <td>@Html.ActionLink(item.Title, "Item", "Events", new { id = item.Id }, null)</td>
            </tr>
        }
    </table>
</div>