@model CorTabernaclChoir.Common.ViewModels.EventViewModel
@using CorTabernaclChoir.Common

@Html.Partial("_Item", Model)

<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <small>
                @Html.ActionLink(Resources.SidebarEventsLink, "Index", "Events", new { page = 1 }, null)
            </small>
        </div>
    </div>
</div>