<div class="thumbnail">
    <img id="uploadedImage" src="#" alt="Uploaded image" class="hidden"/>
    <div id="uploadImagePlaceholder" class="well text-center" style="height: 200px; margin-bottom: 0; color: #888888;">
        <label>Upload New Image</label>
    </div>
    <div class="caption">
        <div class="row">
            <div class="col-xs-12">
                <label id="uploadInput" class="btn btn-sm btn-primary">
                    Choose File <input id="fileUpload" type="file" name="image" class="hidden">
                </label>
                <button type="button" id="cancelUploadImage" class="btn btn-primary btn-sm hidden">Clear Image</button>
            </div>
        </div>
    </div>                      
</div>