<div class="row">
    <div class="col-xs-12">
        <section id="externalLoginForm">
            @using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Please log in to access site administration.</h4>
                <hr />

                if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        <p>
                            <span class="glyphicon glyphicon-warning-sign" style="float: left; margin-right: 0.5em;"></span>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </p>
                    </div>
                }

                <div id="socialLoginList">
                    <p>
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </p>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}