@model CorTabernaclChoir.Common.ViewModels.GalleryViewModel
@using CorTabernaclChoir.Helpers

<div class="row">
    <div class="col-xs-12">
        @Html.DisplayAddButton(Url.Action("Add", "Gallery"))
    </div>
</div>

<br />
<p>Under construction</p>